﻿@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Access";
}

@Scripts.Render("~/bundles/jquery")
@section scripts {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script type="text/javascript">
        (function () {

            $(document).ready(endFlow);

            /**
            * ends auth flow by firing a callback in the main opener window then closes this dialog
            **/
            function endFlow() {
                var queryParams = destructQueryParams();
                console.log(queryParams);
                window.opener && window.opener.QBoxConnectApp.onConnected(queryParams);
                window.close();
            }

            function destructQueryParams() {
                var paramsStr = window.location.search.slice(1);
                return !paramsStr ? {} : _(paramsStr.split('&'))
                    .mapKeys(function (part) {
                        return part.split('=')[0];
                    })
                    .mapValues(function (part) {
                        return parse(part.split('=')[1]);
                    })
                    .value();
            }

            function parse(val) {
                try {
                    return JSON.parse(val);
                } catch (e) {
                    return val;
                }
            }

        }).call();
    </script>
}