﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                <div class="login-container">
                    <ipp:connectToIntuit></ipp:connectToIntuit>
                </div>
                <div class="connected-container" style="color: green; font-size: large; display: none;">
                    You are connected :)
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script src="https://js.appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.3.js" type="text/javascript"></script>
    <script type="text/javascript">
        intuit.ipp.anywhere.setup({
            grantUrl: '@Url.Action("Grant", null, null, Request.Url.Scheme)',
            datasources: {
                quickbooks: true,
                payments: true
            },
            paymentOptions: {
                intuitReferred: true
            }
        });
    </script>

    <script type="text/javascript">
        (function () {
            $(document).ready(onReady);
            function onReady() {
                /**
                * main application object
                **/
                window.QBoxConnectApp = {
                    onConnected: onConnected
                };
            }

            /**
            * fire this function from the auth dialog passing in payload. payload contains token and token secrets
            **/
            function onConnected(payload) {
                console.log(payload);
                $('.login-container').remove();
                $('.connected-container').show();
            }
        }).call();
    </script>

</body>
</html>
